.welcome {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 400px;
  padding-top: 40%;
}
.profile {
  margin-left: 30%;
  margin-top: 50px;

  margin-bottom: 50px;
  height: 30px;
  font-style: italic;
}
.verify {
  margin-left: 700px;
  font-style: italic;
}
.bor {
  background-image: url("../../Components/Login/blue.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
