.resetBackground {
  background-image: url("../../Components/Login/blue.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.resetInput {
  width: 70%;
  margin-left: 75px;
}
.resetDiv {
  border: 1px solid black;
  border-radius: 7px;
  position: fixed;
  top: 30%;
  height: 40%;
  right: 40%;
  left: 20%;
}
.resetDiv h2 {
  margin-left: 30%;
  padding-top: 4%;
}
.resetLabel {
  margin-left: 20%;
  margin-top: 15px;
  font-weight: bold;
  color: gray;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.resetBtn {
  margin-left: 30%;
}
